.box{
    
    padding: auto;
    width: 400px;
    height: 400px;
    margin: 20px;
    position: center
    
    
}
p{
    color: azure;
    font-size: large;
    font-family:'Times New Roman', Times, serif;
    font-weight: 100;text-align: right;

}
*{
    text-align: center;
    color: blueviolet;
}
