p{
color: darkgreen;

}
.bot{
    background-color: aqua;
   
}
/* .button{
    font-size: 18px;
    padding: 10px 20px;
    height: 70px;
    background-color: blue;
    color: black;
} */
.image{
    
 height: 50px;
 width: 50px;
 
}